*{
    margin: 0%;
    padding: 0%;
    align-items: center;
    text-align: center;
    
 
}
body{background-color: rgb(204, 203, 203);}
h1{
    font-family: 'Roboto', sans-serif;
    padding: 30px;
}
label{
    font-family: 'Roboto', sans-serif; 
    font-size: x-large;
    font-weight: bold;
}
input{
    margin: 20px;
    padding: 10px 60px 10px 60px;
    border-radius: 50px;
}
/* textarea:focus, input:focus {
    color: #ff0000;
} */

input, select, textarea{
    background-color: rgba(147, 233, 157, 1);
    color: black;
    font-weight: 900;
}
button{
    padding: 5px 15px 5px 15px;
    border-radius: 30px;
    font-weight: bold;
}

button:hover{
    background-color: black;
    color: white;
}
.icon{
    display: flex;
    justify-content: center;
    gap: 2vh;
}

.content{
    justify-content: center;
    display: inline-block;
    border: 2px solid black;
    padding: 20px;
    margin-top: 10px;
    border-radius: 30px;
       /* From https://css.glass */
background: rgba(147, 233, 157, 1);
border-radius: 16px;
box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
backdrop-filter: blur(20px);
-webkit-backdrop-filter: blur(20px);
border: 1px solid rgba(147, 233, 157, 0.71);
}
.location{
    border-bottom: 2px solid blue;
    padding-left: 50px;
}